@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)  and (max-width: 1450px)
	.header-content, section
		padding-right: 22%



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.set-html, .app-install
	  padding-top: 87px
	  padding-bottom: 42px
	  h2
	    margin-bottom: 70px
	  a
	    font-size: 20px
	    color: #0da088
	.header-content, section
		padding-right: 20%
		padding-left: 18%
	.main-header ul
	  padding: 3% 5%



/* Medium Devices, Desktops */
@media only screen and (max-width : 1080px)
	.after-install
		span
			font-size: 20px

	.social-channels
		.container
			a
				font-size: 16px
	.main-header
		ul
			padding: 4% 5%
		ul a
	  	font-size: 18px

/* Medium Devices, Desktops */
@media only screen and (max-width : 957px)
	.header-content
		padding: 80px 16% 0 16%
	section
		padding-right: 16%
		padding-left: 16%
	.main-footer
		padding: 30px 40px

/* Medium Devices, Desktops */
@media only screen and (max-width : 885px)
	.button-dark
		margin-top: 30px

@media only screen and (max-width : 840px)
	section
	  h2
	    font-size: 24px
	  a
	    font-size: 14px
	  p
	    font-size: 14px
	.main-header
	  height: 84px
	  li
	    padding-right: 15px
	  ul a
	    font-size: 16px
	.header-content
	  h1
	    font-size: 30px
	  p
	    font-size: 14px
	.button
	  margin-bottom: 30px
	.button-gray
		margin-bottom: 68px
	.after-install
	  .description
	  p
	    color: $dark
	    font-family: Ubuntu-grid
	    font-size: 16px
	    font-weight: 400
	    line-height: 24px
	    margin-bottom: 104px
	  span
	    font-family: Ubuntu-bold-grid
	    font-size: 18px
	    font-weight: 700
	    padding-left: 100px
	  ul
	    padding-left: 0
	    li
	      list-style-type: none
	  .button-dark
	    background-color: #3b4269
	.main-footer
	  .container
	    p
	      font-size: 16px
	      margin: 0
	    .number
	      font-size: 18px
			span
				font-size: 14px
	.set-html, .app-install
		a
			margin-right: 0



/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.social-channels
	  .container
			.social-item
				height: 80px
	.header-content
		padding: 80px 10% 0
	section
		padding-right: 10%
		padding-left: 10%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px)
	.main-header
		ul
			display: none
		.hamburger
			display: block
	.header-content
	  h1
	    margin-bottom: 66px
	    font-size: 48px
	  p
	    margin-bottom: 59px
	    color: #74757b
	    font-size: 26px
	    line-height: 36px
	.button
		font-size: 22px
		font-weight: 700
		line-height: 26.18px
		letter-spacing: 2.75px
		padding: 25px 60px
		border-radius: 35px
		&.button-gray
			padding: 25px 185px
			border-radius: 35px

	section
	  h2
	    font-size: 48px
	    letter-spacing: 2.4px
	    line-height: 50px
	  a
	    font-size: 26px
	    letter-spacing: 0.65px
	    margin-right: 135px
			letter-spacing: 0.4px
	  p
	    font-size: 26px
	    font-weight: 400
	    line-height: 36px

	.app-install a, .set-html a
		font-size: 30px
		white-space: normal

	.after-install
	  .description
	    font-size: 24px
	    letter-spacing: 0.6px
	  p
	    font-size: 24px
	    font-weight: 400
	  span
	    font-size: 24px
	  a
	    font-size: 20px
	    line-height: 26px
	  .button-dark
			padding: 25px 120px

	.after-install p
		white-space: normal
		line-height: 50px

	.social-channels
	  h3
	    font-size: 24px
	    font-weight: 400
	    line-height: 24px
			letter-spacing: 0.6px
	  .container
	    a
	      font-size: 24px

	.main-footer
	  padding: 40px 20px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
